
@{
    ViewData["Title"] = "Login";
}


@using (Html.BeginForm())
{
    <div class="login-container">
        <div class="login-entry">
            <p>Login</p>
            <input />
        </div>
        <div class="login-entry">
            <p>Password</p>
            <input type="password" />
        </div>

        <button id="login-button">Entrar</button>
        <div>
            <a>Esqueci minha senha</a>
        </div>
    </div>
}


