
@{
    ViewData["Title"] = "Login";
}


@using (Html.BeginForm())
{
    <div class="login-container">

        <img src="~/images/user-solid.svg" alt="user" class="img-responsive" width="100px" />
        <div class="login-entry">
            <p>Login</p>
            <input />
        </div>
        <div class="login-entry">
            <p>Password</p>
            <input type="password" />
        </div>

        <button id="login-button">
            Entrar
        </button>

        <div>
            <a>Esqueci minha senhaa</a>
        </div>
    </div>
}


