
@model purchase_list_csharp.Models.ViewModels.LoginErrorViewModel


@{
    ViewData["Title"] = "Login";
}




@using (Html.BeginForm())
{
    <div style="width: 100%; text-align: center">
        <div class="login-container">

            <div style="width: 100%; text-align: center">
                <img src="~/images/user-solid.svg" alt="user" width="100px" style="margin-top: -50px" />
            </div>

            <form method="post">
                <div class="login-entry">
                    <p>Login</p>
                    <input name="Login" />
                </div>
                <div class="login-entry">
                    <p>Password</p>
                    <input type="password" name="Password" />
                </div>

                <input style="display: none" name="ReturnUrl" value="@ViewContext.HttpContext.Request.Query["ReturnUrl"]"/>

                <input type="submit" id="login-button" value="Entrar" asp-action="Authenticate" />
            </form>

            <div>
                <a>Esqueci minha senhaa</a>
            </div>

            @{
                if (Model != null)
                {
                    <div class="errors">
                        <p>@Model.Message</p>
                    </div>
                }
            }
        </div>
    </div>

}



